# SPDX-License-Identifier: Apache-2.0

# enable uart driver
CONFIG_SERIAL=y

# console
CONFIG_CONSOLE=y
CONFIG_UART_CONSOLE=y

# enable GPIO
CONFIG_GPIO=y

CONFIG_PWM=y
CONFIG_PWM_CAPTURE=y

CONFIG_USB_DEVICE_STACK_NEXT=y

# Logging configuration
CONFIG_LOG=y
CONFIG_UDC_DRIVER_LOG_LEVEL_WRN=y
CONFIG_USBD_LOG_LEVEL_WRN=y
CONFIG_USBD_GS_USB_LOG_LEVEL_WRN=y
CONFIG_USBD_GS_USB_MAX_CHANNELS=3
CONFIG_USB_DEVICE_GS_USB_COMPATIBILITY_MODE=n
CONFIG_CAN_FD_MODE=y
#CONFIG_CANNECTIVITY_LOG_LEVEL_WRN=y

CONFIG_CDC_ACM_SERIAL_INITIALIZE_AT_BOOT=n
CONFIG_CDC_ACM_SERIAL_PRODUCT_STRING="Arduino Ventuno Q"
CONFIG_CDC_ACM_SERIAL_MANUFACTURER_STRING="Arduino"
CONFIG_USBD_CDC_ACM_CLASS=y
CONFIG_CDC_ACM_DTE_RATE_CALLBACK_SUPPORT=y
CONFIG_USBD_CDC_ACM_LOG_LEVEL_ERR=y
CONFIG_UDC_DRIVER_LOG_LEVEL_ERR=y
CONFIG_USBD_LOG_LEVEL_ERR=y
CONFIG_UART_LINE_CTRL=y
