# Copyright (c) 2026 Arduino SA
# SPDX-License-Identifier: Apache-2.0

if SHIELD_NANO_CHANDLER_MONICA

if NETWORKING

choice WIFI_ESP_AT_VERSION
	default WIFI_ESP_AT_VERSION_1_7
	depends on WIFI_ESP_AT
endchoice

endif # NETWORKING

endif # SHIELD_NANO_CHANDLER_MONICA
