# Copyright (c) 2026 Arduino SA
# SPDX-License-Identifier: Apache-2.0

if BOARD_ARDUINO_NANO_CHANDLER

source "boards/common/usb/Kconfig.cdc_acm_serial.defconfig"

config USE_DT_CODE_PARTITION
	default y

endif # BOARD_ARDUINO_NANO_CHANDLER
